@import "bootstrap/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.scss";

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url("../fonts/PlayfairDisplay-Black.ttf");
}

/*Общие стили*/
html {
    font-size: 10px;
}

body {
    font-family: "PlayfairDisplay-Regular", serif;
    color: #000;
    background-color: #fdf9f4;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.block-scroll {
    overflow: hidden;
}

/*Общие стили -> Текст*/
.h1 {
    /* font-size: 144px; */
    /* font-size: 10vh; */
    font-size: 15vh;
    font-family: "PlayfairDisplay-Black", serif;
    line-height: 100%;
    margin: 0;
}

.h2 {
    /* font-size: 28px; */
    margin: 0;
    font-size: 7vh;
    font-family: "PlayfairDisplay-Bold", serif;
}
.h3 {
    /* font-size: 28px; */
    font-size: 2rem;
    font-family: "PlayfairDisplay-Bold", serif;
    margin: 0;
}

.p-mini {
    /* font-size: 19px; */
    font-size: 1.9vh;
    /* line-height: 130%; */
}

/*Общие стили -> Отдельные элементы*/
.line {
    /* height: 5px; */
    height: 0.3vh;
    width: 100%;
    background-color: #000;
}

/*Общие стили -> Меню*/
.menu__close,
.photo__close {
    background-image: url(../img/closeMenu.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(0deg);
}
.menu__close:hover,
.photo__close:hover {
    transform: rotate(90deg);
}
#menuBtn {
    cursor: pointer;
}
.menuOverlay {
    position: fixed;
    background-image: url("../img/contacts_bg.png");
    left: 0;
    top: 0;
    z-index: 9999;
}
.menuOverlay .row {
    justify-content: center;
}

.menuOverlay__bg {
    background-image: url("../img/contacts_bg.png");
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.big-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    background-position: center;
    background-size: cover;
}
.big-menu .menu__el {
    font-size: 10.4rem;
    font-family: "PlayfairDisplay-Black", serif;
    background-image: url(../img/fill_text.png);
    background-size: 0% 100%;
    // max-width: 50%;
    // word-wrap: break-word;
    background-repeat: no-repeat;
    background-clip: text;
    // transition: 0.1s;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    cursor: pointer;
    transition: 0.3s;
}
.big-menu .menu__el--active {
    color: #fff;
    // -webkit-text-stroke: 0px #fff;
}
.big-menu .menu__el--active:after {
    display: none;
}
.big-menu .menu__el:hover {
    color: #fff;
    // -webkit-text-stroke: 0px #fff;
}
.big-menu .menu__el:hover:after {
    display: none;
}
.big-menu .menu__li:last-child,
.big-menu .menu__li:nth-child(3) {
    text-align: left;
}
.big-menu .menu__li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    z-index: 999;
    justify-content: flex-end;
}

.menu li:first-child {
    margin-right: auto;
}

.menu__el {
    color: #000;
    font-weight: bold;
    // font-size: 3.2vh;
    font-size: 2.2rem;
    position: relative;
    overflow: hidden;
}

.menu__el--active {
    position: relative;
}

.menu__el:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: 0.3s;
}

.menu__el:hover:after {
    // left: 0;
    width: 100%;
}

.menu__el--active:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.menu__li:nth-child(2) {
    text-align: left;
}

.menu__li:nth-child(3) {
    text-align: center;
}
.menu__li:last-child {
    text-align: right;
}

/*Стили для страниц -> Главная*/
.main {
    min-height: 100vh;
    overflow: hidden;
}

.main > .row {
    min-height: 100vh;
}

.main__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__img {
    background-image: url("../img/main_image.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    background-repeat: no-repeat;
}

.line--main {
    /* margin-top: 54px; */
    margin-top: 5vh;
}

.line--main2 {
    /* margin-top: 16px; */
    margin-top: 2.3vh;
    margin-right: 23px;
}

.main__menu {
    /* margin-top: 88px; */
    // margin-top: 5vh;
}

.main__menu-menu {
    /* margin: 0; */
    padding: 0;
    list-style-type: none;
    margin-left: 33px;
}

.main__menu-el a {
    /* -webkit-text-stroke: 1px black;
    font-size: 64px; */
    color: transparent;
    // -webkit-text-stroke: 0.5px black;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.035em;
    font-size: 7vh;
    line-height: 111%;
    font-family: "PlayfairDisplay-Bold", serif;
    transition: 0.2s;
}

.main__menu-el a:hover {
    color: #000;
}

.main__info {
    // margin-top: 10vh;
}

.p-mini--main {
    /* margin-top: 28px; */
    margin-top: 3vh;
}

/*Стили для страниц -> Инсталяции*/
.instalations {
    margin-top: 46px;
}

.instalations .menu {
    margin-top: 5vh;
    flex-direction: column;
}

.instalations__menu {
    // margin-top: 55px;
    padding-inline-start: 15px;
    position: fixed;
}

.instalations__menu,
.instalations__submenu {
    margin-left: 0;
    list-style-type: none;
}

.instalations__menu-btn,
.instalations__submenu-btn {
    font-family: "PlayfairDisplay-Bold", serif;
    letter-spacing: 0.035em;
    display: block;
    outline: none;
    /* border: none; */
    /* cursor: pointer; */
}

.instalations__menu-btn {
    // font-size: 8.8vh;
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 0.5px black;
    transition: 0.3s;
    line-height: 95%;
    margin-bottom: 15px;
}

.instalations__menu-btn--active {
    color: #000;
}

.instalations__menu-el {
    margin-top: 15px;
    margin-bottom: 15px;
}

.instalations__submenu {
    display: none;
    // margin-left: -15px;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding-left: 60px;
}

.instalations__submenu-el{
    margin-top: 8px;
    margin-bottom: 8px;
}

.instalations__menu-btn--active + .instalations__submenu {
    display: block;
}

.instalations__submenu-btn {
    font-family: "PlayfairDisplay-Regular", serif;
    // font-size: 4vh;
    font-size: 2.5rem;
    text-transform: capitalize;
    opacity: 0.5;
    color: #000;
    line-height: normal;
}

.instalations__submenu-btn--active {
    /* border-bottom: 1px solid; */
    opacity: 1;
}

.instalations__section {
    // margin-bottom: 300px;
}

.instalations__separator {
    width: 100px;
    height: 0.3vh;
    margin: 2vh 0;
    background-color: #000;
}

.instalations__title {
    font-family: "PlayfairDisplay-Black";
    // font-size: 13.2vh;
    font-size: 10rem;
    position: fixed;
    top: -10px;
    padding-left: 5px;
    z-index: 0;
    opacity: 0;
}

.instalations__title--show {
    opacity: 1;
}

.instalations__title--invisible {
    opacity: 0;
    z-index: -2;
    display: none;
}

.instalations__title--invisible-show {
    display: block;
}

.instalations__title--fix {
    position: fixed;
    // z-index: 10;
    z-index: 0;
}

.instalations__works {
    display: flex;
    flex-wrap: wrap;
    // z-index: 2;
    // margin-top: -30px;
    position: relative;
    // background-color: #e5e5e5;
}

.instalations__works .work:nth-child(odd) {
    margin-right: 10px;
}

.work {
    position: relative;
    display: block;
    padding: 0;
    height: 70vh;
    color: #fff;
    z-index: 1;
    // margin-bottom: 70px;
}

.work:hover .work__body {
    opacity: 1;
}

.work__separator {
    height: 50px;
    width: 100%;
    background-color: #fdf9f4;
    z-index: 999;
}
.work__separator--start {
    height: 100px;
    width: 100%;
    background-color: #fdf9f4;
    z-index: 999;
    z-index: -1;
}
.work__separator--last {
    height: 50px;
    width: 100%;
    background-color: #fdf9f4;
    z-index: -1;
}

.work__section-separator {
    height: 100px;
    width: 100%;
}

.work_bg {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.work__body {
    opacity: 0;
    display: flex;
    transition: 0.3s;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.work__title {
    font-size: 3rem;
}

.work__description {
    padding: 5px 0 0 0;
}

.work__description .line--description {
    display: block;
    height: 1px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
}
.work__description ul {
    list-style-type: none;
    padding: 0;
}
.work__description li {
    position: relative;
    padding-left: 65px;
}

.work__description,
.work__year,
.work__language {
    font-size: 1.8rem;
}

.work__footer {
    display: flex;
    justify-content: space-between;
}

/*Стили для страниц -> проект*/

.project {
    margin-top: 48px;
}

.gallery__content {
    width: 100%;
    height: 100%;
}

.gallery__photo {
    width: 100%;
    object-fit: contain;
    object-position: left;
    max-height: 80vh;
}

.project__description {
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.7rem;
    padding: 0;
    width: 40vw;
}

.project__description-next {
    border: none;
    font-size: 2.5vh;
    font-weight: bold;
}

/*SLIDER*/

img {
    width: 100% !important;
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    // background: url("sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    // background: url("sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1;
}

div.sim-slider-arrow-right:hover {
    opacity: 1;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #bbb;
    border-radius: 5px;
    cursor: pointer;
}

/*Стилия для contacts*/

.contacts__text {
    font-size: 1.8rem;
    line-height: 140%;
    margin: 0;
    margin-bottom: 15px;
}

.contacts__h3 {
    margin-bottom: 15px;
}

.contacts__body {
    padding: 0;
}

.app--contacts {
    background-image: url("../img/contacts_bg.png");
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.contacts {
    color: #fff;
}

.contacts #menuBtn .menu__el {
    color: #fff;
}

.contacts .menu__el {
    // color: #fff;
}

.contacts .menu__el:hover:after {
    background-color: #fff;
}

.contacts .menu__el--active:after {
    background-color: #fff;
}

.contacts > .row {
    padding-top: 68px;
    min-height: 100vh;
}

.contacts__info {
    padding: 0;
}

.contacts__infoBottom > .contacts__infoBlock {
    margin-right: 50px;
    margin-bottom: 40px;
}

.contacts__infoBottom {
    padding: 0;
}

.contacts__infoText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 32px);
}

.contacts__infoText > p {
    margin: 0;
}

.job__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 40px;
}

.contacts__job .job__el {
    color: #fff;
}

.contacts__job .job__el > .line {
    background-color: #fff;
}

.job__el {
    letter-spacing: 0.035em;
    font-size: 7vh;
    line-height: 111%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 3vh;
    font-family: "PlayfairDisplay-Bold", serif;
}

.job__el > .line {
    margin-right: 40px;
    margin-top: 10px;
}

/*Стили для соцмальлных иконок*/
.social__ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.social__ico--inst {
    background-image: url("../img/inst.svg");
}
.social__ico--fb {
    background-image: url("../img/fb.svg");
}

/*Стили для страницы about*/
.menu--about {
    // margin: 5vh 0 15vh 0;
    position: absolute;
    right: 0;
    top: 26px;
}
.menu--about #menuBtn {
    margin-left: auto;
    margin-right: 0;
}

.about > .row {
    margin-right: 0;
}

.about .about__container:nth-child(even) {
    flex-direction: row-reverse;
}

/*Стили для фикса паралакса. Без маржина картинка слева будет иметь отступ сверху. А что бы Не было большого отступа сверху у текста, пишем position: relative и двигаем вверх*/
.about__right {
    // margin-top: 100px;
    // position: relative;
    // top: -80px;
}

.about__container {
    display: flex;
    width: 100%;
    padding: 0;
}

.about__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // min-height: 100vh;
    height: 100%;
    position: relative;
}

.about--paragraph {
    font-size: 1.7rem;
}
.line--about {
    margin: 70px auto 0 auto;
    height: 1px;
}

.about__imgTitle {
    font-size: 7vh;
    color: #fff;
    padding: 50px 70px;
    width: 50%;
    font-family: "PlayfairDisplay-Bold", serif;
    position: absolute;
    top: 0;
    left: 0;
}

.about__h2{
    margin-top: 50px;
    margin-bottom: -20px;
    padding-left: 30px;
    line-height: 7vh;
}

#about_0 {
    background-image: url("~../img/about_0.png");
}
#about_1 {
    background-image: url("~../img/about_1.png");
}
#about_2 {
    background-image: url("~../img/about_2.png");
}
#about_3 {
    background-image: url("~../img/about_3.png");
}
#about_4 {
    background-image: url("~../img/about_4.png");
}
#about_5 {
    background-image: url("~../img/about_5.png");
}

#singleImage__about_1{
    background-image: url("~../img/about_1.png");
}
#singleImage__about_2{
    background-image: url("~../img/about_2.png");
}
#singleImage__about_3{
    background-image: url("~../img/about_3.png");
}
#singleImage__about_4{
    background-image: url("~../img/about_4.png");
}
#singleImage__about_5{
    background-image: url("~../img/about_5.png");
}
#singleImage__about_6{
    background-image: url("~../img/about_6.png");
}
#singleImage__about_7{
    background-image: url("~../img/about_7.png");
}
#singleImage__about_8{
    background-image: url("~../img/about_8.png");
}
#singleImage__about_9{
    background-image: url("~../img/about_9.png");
}

.event {
    margin: 20px;
    display: flex;
    padding-top: 50px;
}

.event__title {
    font-family: "PlayfairDisplay-Bold", serif;
    font-size: 2.5vh;
}

.event__description {
    font-size: 2.5vh;
}

.about__imgContainer {
    overflow: hidden;
    padding: 0;
}

/*Стили для страницы проекта*/
.photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo__bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.photo__close {
    position: absolute;
    right: 30px;
    top: 30px;
}
.photo__img {
    width: auto !important;
    height: 90vh;
    object-fit: contain;
}
.single-project {
    max-height: 100vh;
    height: 97vh;
}

.single-project .row {
    height: 100%;
}

.single-project .menu--project {
    position: fixed;
    z-index: 999;
    top: 50px;
    max-width: 1200px;
}
.project__body {
    height: calc(100vh - 70px);
    // margin-top: auto;
    padding: 0;
}

.project__photos {
    display: flex;
}
.project__photos .project__photo:nth-child(odd) {
    // align-self: flex-end;
}
.project__photos .project__photo:first-child {
    margin-left: 20vw;
}
.project__photos .project__photo:last-child {
    margin-right: 50px;
}
.project__photo {
    margin: 0 35vw;
    object-fit: contain;
    // height: 40vh;
    height: 90vh;
}

.project__list {
    display: flex;
}

.project__ends .project__title-container {
    position: absolute;
    top: 19%;
    left: 35%;
}

.project__title-container {
    position: fixed;
    top: 30%;
    left: 35vw;
    z-index: -2;
}

.project__title {
    font-size: 14.4rem;
    font-family: "PlayfairDisplay-Black", serif;
    background-image: url(../img/fill_text.png);
    background-size: 0% 100%;
    // max-width: 50%;
    // word-wrap: break-word;
    background-repeat: no-repeat;
    background-clip: text;
    transition: 0.1s;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.project__separator {
    width: 200px;
    z-index: -10;
}

.project__photo--last {
    opacity: 0;
}

.project__nextBtn {
    width: 226px;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    position: relative;
    top: -62px;
    display: block;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__nextBtn-list{
    list-style-type: none;
    color: #fff;
    font-size: 28px;
    padding: 0;
}

.project__nextBtn-list a{
    color: #fff;
}
.project__nextBtn-list li{
    display: flex;
    align-items: center;
}

.project__nextBtn-list li:hover > .project__nextBtn-arrow{
    opacity: 1;
}

.project__nextBtn-arrow{
    background-image: url("~../img/arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    opacity: 0;
    transition: .3s;
}

.project__nextBtn-menu{
    cursor: pointer;
}
